<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>리뷰목록</title>
</head>
<body>
	<h1>리뷰목록</h1>
	<table border="1">
		<tr>
			<td>번호</td>
			<td>아이디</td>
			<td>영화제목</td>
			<td>리뷰제목</td>
			<td>평가</td>
			<td>좋아요</td>
		</tr>
		<tr th:each="rev : ${revs}">
			<td th:text="${rev.num}"></td>
			<td th:text="${rev.userId}"></td>
			<td th:text="${rev.movie}"></td>
			<!--<td th:text="${rev.title}"></td>-->
			
			
			<td>
				<a th:href="@{/rev/read(num=${rev.num})}"><span th:text="${rev.title}"></span></a>
			</td>
			
			
			<td th:text="${rev.rating}"></td>
			<td th:text="${rev.like}"></td>
		</tr>
	</table>
	
	<h4><a href="./main">돌아가기</a></h4>
</body>
</html>