<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chang.recmv.mapper.AdminMapper">
	<select id="getUsers" resultType="User">
		select * 
		from recmv_user
		where id != #{id}		
		order by createDate desc
		limit #{cri.beginNumOfItems}, #{cri.numOfItemsPerPage}				
	</select>
	
	<select id="getNumUsers" resultType="int">
		select count(*) 
		from recmv_user
		where id != #{id}		
	</select>	
</mapper>