<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chang.recmv.mapper.MovieMapper">
	<insert id="addMovie">
		insert into recmv_movie(title, link, image, actor, plot, createDate)
		values(#{title}, #{link}, #{image}, #{actor}, #{plot}, now())
	</insert>
	
	<select id="readMovie" resultType="Movie">
		select * from recmv_movie
		where title = #{title}
	</select>
</mapper>