<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chang.recmv.mapper.RevMapper">
	<insert id="writeRev">
		insert into recmv_rev(userNum, movieNum, id, movie, image, title, rating, content, createDate)
		values(#{userNum}, #{movieNum}, #{id}, #{movie}, #{image}, #{title}, #{rating}, #{content}, now())
	</insert>
	
	<select id="getRevs" resultType="Rev">
		select * from recmv_rev
		order by createDate desc
		limit #{beginNumOfItems}, #{numOfItemsPerPage}		
	</select>
	
	<select id="getNumRevs" resultType="int">
		select count(*)
		from recmv_rev
	</select>

	<select id="readRev" resultType="Rev">
		select * from recmv_rev
		where num = #{num}
	</select>
	
	<update id="updateRev">
		update recmv_rev 
		set title = #{rev.title}, content = #{rev.content}, rating = #{rev.rating}, updateDate = now()
		where num = #{num}
	</update>
	
	<delete id="deleteRev">
		delete from recmv_rev
		where num = #{num}
	</delete>
	
	<select id="readNum" resultType="int">
		select num from recmv_user
		where id = #{id}
	</select>
	
	<select id="readId" resultType="string">
		select id from recmv_user
		where num = #{num}
	</select>
	
	<select id="readMovie" resultType="Movie">
		select * from recmv_movie
		where num = #{num}
	</select>	
	
	<select id="readRating" resultType="double">
		select rating from recmv_rev
		where num = #{num}
	</select>
	
	<select id="getAvgRating" resultType="double">
		select rating from recmv_movie
		where title = #{title}
	</select>

	<select id="getNumRevsByTitle" resultType="int">
		select count(*) from recmv_rev
		where movie = #{movie}
	</select>
	
	<update id="updateAvgRating">
		update recmv_movie 
		set rating = #{rating}
		where title = #{title}
	</update>	
	
	<select id="getUserRevs" resultType="Rev">
		select * from recmv_rev
		where userNum = #{userNum}
		order by createDate desc
		limit #{cri.beginNumOfItems}, #{cri.numOfItemsPerPage}		
	</select>
	
	<select id="getNumUserRevs" resultType="int">
		select count(*) from recmv_rev
		where userNum = #{userNum}
	</select>
	
	<select id="ckDupRev" resultType="int">
		select num from recmv_rev
		where userNum = #{userNum} and movieNum = #{movieNum}
	</select>
	
	<insert id="addLike">
		insert into recmv_like(userNum, revNum, createDate)
		values(#{userNum}, #{revNum}, now())
	</insert>
	
	<select id="ckDupLike" resultType="int">
		select num from recmv_like
		where userNum = #{userNum} and revNum = #{revNum}
	</select>	
</mapper>