<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chang.recmv.mapper.RevMapper">
	<insert id="writeRev">
		insert into recmv_rev(userId, movie, title, rating, rev, creatDate)
		values(#{userId}, #{movie}, #{title}, #{rating}, #{rev}, now())
	</insert>
	
	<select id="getAllRev" resultType="Rev">
		select *
		from recmv_rev
	</select>

	<select id="readRev" resultType="Rev">
		select *
		from recmv_rev
		where num = #{num}
	</select>
	
	<update id="updateRev">
		update recmv_rev 
		set title = #{title}, rev = #{rev}, rating = #{rating}, updateDate = now()
		where num = #{num}
	</update>
</mapper>