<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chang.recmv.mapper.RevMapper">
	<insert id="writeRev">
		insert into recmv_rev(movie, rating, rev, creatDate)
		values(#{movie}, #{rating}, #{rev}, now())
	</insert>
</mapper>