<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chang.recmv.mapper.UserMapper">
	<insert id="addUser">
		insert into recmv_user(id, pw, email, createDate)
		values(#{id}, #{pw}, #{email}, now())
	</insert>
	
	<select id="ckDupId" resultType="string">
		select id from recmv_user
		where id = #{id}
	</select>
	
	<select id="ckLogin" resultType="string">
		select id from recmv_user
		where id = #{id} and pw = #{pw}
	</select>
	
	<select id="readUser" resultType="User">
		select * from recmv_user
		where id = #{id}
	</select>
	
	<update id="updateUser">
		update recmv_user 
		set pw = #{user.pw}, email = #{user.email}, updateDate = now()
		where id = #{user.id} and pw = #{pw}
	</update>
		
	<delete id="deleteUser">
		delete from recmv_user
		where id = #{id} and pw = #{pw}
	</delete>
	
	<select id="getAllUser" resultType="User">
		select * from recmv_user
		where id != #{id}
	</select>	
	
	<delete id="deleteRevs">
		delete from recmv_rev
		where userNum = #{userNum}
	</delete>	
</mapper>