<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chang.recmv.mapper.UserMapper">
	<!--<select id="getAll" resultType="User">
		select *
		from recmv_user
	</select>-->
	
	<select id="addUser" resultType="User">
		insert into recmv_user (id, pw, email, creationTime)
		values(#{id}, #{pw}, #{email}, now())
	</select>
	
	<select id="ckDupId" resultType="string">
		select id
		from recmv_user
		where id = #{id}
	</select>
	
</mapper>