<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	rel="stylesheet">
</head>
<th:block th:replace="~{include/layout :: body(~{this :: main})}">
	<main class="main" th:fragment="main">
		<div class="container">
			<form>
				<input type="hidden" name="id" id="id" th:value="${user.id}"> 		
				<div class="form-group">
					<label for="password">비밀번호</label> 
					<input type="password" name="password" id="password" class="form-control" placeholder="비밀번호를 입력하세요.">
					<span id="password--ok"></span>
				</div>
			</form>
			<button id="btn--user--delete" class="btn btn-danger">회원탈퇴</button>
			<button class="btn btn-secondary" onclick="history.back()">돌아가기</button>
		</div>
	</main>
</html>