<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
	<th:block th:replace="~{include/layout :: body(~{this :: main})}">
		<main class="main" th:fragment="main">
			<div class="container">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>아이디</th>
							<th>이메일</th>
							<th>가입날짜</th>
							<th>회원수정</th>
							<th>회원탈퇴</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><span th:text="${user.id}"></span></td>
							<td><span th:text="${user.email}"></span></td>
							<td><span th:text="${user.createDate}"></span></td>
							<td><a href="/recmv/user/update">🔨</a></td>
							<td><a href="/recmv/user/delete">📌</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</main>
</html>