<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">  
<header th:fragment="header">  
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
	  <a class="navbar-brand" href="/recmv">홈</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="collapsibleNavbar">
	  
	  	<div th:if="${session.id} == null">
		    <ul class="navbar-nav">
		      <li class="nav-item"><a class="nav-link" href="/recmv/user/signup">회원가입</a></li>
		      <li class="nav-item"><a class="nav-link" href="/recmv/user/login">로그인</a></li>
		      <li class="nav-item"><a class="nav-link" href="/recmv/rev/all">리뷰</a></li>  	        
		    </ul>
	    </div>
	   	<div th:unless="${session.id} == null">
		    <ul class="navbar-nav">
		      <li class="nav-item"><a class="nav-link" href="/recmv/user/logout">로그아웃</a></li>
		      <li class="nav-item"><a class="nav-link" href="/recmv/rev/main">리뷰</a></li>   
		      <li class="nav-item"><a class="nav-link" href="/recmv/user/read">회원정보</a></li>			      
		    </ul>	       
		</div>	    
	  </div>  
	</nav>
	<br>
</header>
</html>