<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script>
	if(!!window.performance && window.performance.navigation.type == 2){
		window.location.reload();
		// !!는 변수를 불리언으로 형변환하는 방법
	}
</script>
</head>
	<th:block th:replace="~{include/layout :: body(~{this :: main})}">
		<main class="main" th:fragment="main">
			<div th:if="${not #lists.isEmpty(users)}" class="container">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>식별번호</th>
							<th>아이디</th>
							<th>비밀번호</th>
							<th>이메일</th>
							<th>가입날짜</th>
							<th>회원수정</th>
							<th>회원탈퇴</th>
							<th>회원리뷰</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="user : ${users}">
							<td><span id="num" th:text="${user.num}"></span></td>
							<td><span th:text="${user.id}"></span></td>
							<td><span th:text="${user.pw}"></span></td>
							<td><span th:text="${user.email}"></span></td>
							<td><span th:text="${user.createDate}"></span></td>
							<td><button th:onclick="|window.location.href='/recmv/admin/update/${user.num}'|">🔨</button></td>
							<td><button id="btn-admin-del-user">📌</button></td>
							<td><a th:href="@{/rev/list/{userNum}(userNum=${user.num})}" target="_blank">📄</a></td>
						</tr>
					</tbody>
				</table>
				<ul class="pagination d-flex justify-content-center">
					<li class="page-item" th:if="${page.pre} == true"><a 
						th:href="@{/admin/users?currentPageNum={currentPageNum} (currentPageNum=${page.beginNumOfPage-1 })}"
						class="page-link" aria-label="Puserious"> <span
							aria-hidden="true"> <span class="lnr lnr-chevron-left">이전</span>
						</span>
					</a>
					</li>
					<th:block th:with="start=${page.beginNumOfPage}, end=${page.endNumOfPage}">
						<li class="page-item"
							th:with="start=${page.beginNumOfPage}, end=${page.endNumOfPage}"
							th:each="pageButton : ${#numbers.sequence(start,end)}"><a 
							class="page-link"
							th:href="@{/admin/users?currentPageNum={currentPageNum} (currentPageNum=${pageButton})}" th:text=${pageButton}></a>
						</li>
					</th:block>
					<li class="page-item" th:if="${page.nxt} == true"><a
						th:href="@{/admin/users?currentPageNum={currentPageNum} (currentPageNum=${page.endNumOfPage+1 })}" class="page-link"
						aria-label="Next"> <span aria-hidden="true"> <span
								class="lnr lnr-chevron-right">다음</span>
						</span>
					</a></li>
				</ul>
			</div>
			<div th:unless="${not #lists.isEmpty(users)}" class="container">
				<div class="alert alert-danger">
		    		<strong>회원이 존재하지 않습니다.</strong>
		  		</div>			
			</div>				
		</main>
</html>