<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>일일영화</title>
</head>
<body>
	<h1>일일영화</h1>
	<table border="1">
		<tr>
			<td>순위</td>
			<td>영화명</td>
			<td>개봉일</td>
			<td>매출액</td>
		</tr>
		<tr th:each="movie : ${daily.boxOfficeResult.dailyBoxOfficeList}">
			<td th:text="${movie.rank}"></td>
			<td th:text="${movie.movieNm}"></td>
			<td th:text="${movie.openDt}"></td>
			<td th:text="${movie.salesAmt}"></td>
		</tr>
	</table>
	
	<h4><a href="/recmv/user/main">돌아가기</a></h4>
</body>
</html>