<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	rel="stylesheet">
</head>
<th:block th:replace="~{include/layout :: body(~{this :: main})}">
	<main class="main" th:fragment="main">
		<div class="container">
			<th:block th:each="movie : ${movies}">
				<div class="card m-2">
					<div class="card-body">
						<span hidden="hidden" id="rating" th:text="${movie.rating}"></span>

						<div class="form-group" th:if="${movie.image != ''}">
							<img th:src="${movie.image}" width="300" height="400">
						</div>
						<div class="form-group" th:unless="${movie.image != ''}">
							<img th:src="@{/img/none.png}" width="300" height="400">
						</div>
						<div class="form-group">
							제목: <span th:text="${movie.title}"></span>
						</div>
						<div class="form-group">
							배우: <span th:text="${movie.actor}"></span>
						</div>
						<div class="form-group">
							줄거리: <span th:text="${movie.plot}"></span>
						</div>
						<div class="form-group" th:if="${movie.rating > 0.0}">
							평점: <span th:text="${movie.rating}"></span>
							<!--<div class="stars-outer">
									<div class="stars-inner"></div>
								</div>
								(<span class="number-rating"></span>)	
								-->
						</div>
						<div class="form-group" th:unless="${movie.rating > 0.0}">
							리뷰없음</div>
						<div class="form-group">
							<a th:href="@{/reviews/movies/{id}(id=${movie.id})}"
								class="btn btn-primary">리뷰쓰기</a>
						</div>
					</div>
				</div>
			</th:block>
			<nav style="text-align: center;">
				<ul th:if="${!movies.empty}"
					class="pagination d-flex justify-content-center"
					th:with="start=${T(Math).floor(movies.number / 10) * 10 + 1},
			                    last=(${start + 9 < movies.totalPages ? start + 9 : movies.totalPages})">
					<li><a th:href="@{/movies(page=1, query=${query})}" class="page-link"
						aria-label="First"> <span aria-hidden="true">처음</span>
					</a></li>
					<li th:class="${movies.first} ? 'disabled'"><a
						th:href="${movies.first} ? '#' :@{/movies(page=${movies.number}, query=${query})}"
						class="page-link" aria-label="Previous"> <span
							aria-hidden="true">&lt;</span>
					</a></li>
					<li th:each="page: ${#numbers.sequence(start, last)}"
						th:class="${page == movies.number + 1} ? 'active'"><a
						th:text="${page}" th:href="@{/movies(page=${page}, query=${query})}" class="page-link"></a>
					</li>
					<li th:class="${movies.last} ? 'disabled'"><a
						th:href="${movies.last} ? '#' : @{/movies(page=${movies.number + 2}, query=${query})}"
						class="page-link" aria-label="Next"> <span aria-hidden="true">&gt;</span>
					</a></li>
					<li><a th:href="@{/movies(page=${movies.totalPages}, query=${query})}"
						class="page-link" aria-label="Last"> <span aria-hidden="true">끝</span>
					</a></li>
				</ul>
			</nav>
		</div>
		<div th:if="${movies.empty}" class="container">
			<div class="alert alert-danger">
				<strong>검색과 일치하는 영화를 찾을 수 없습니다. 정확한 제목을 입력하세요.(e.g.
					맨인블랙 -> 맨 인 블랙)</strong>
			</div>
		</div>
	</main>
</html>