<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>영화검색</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body>
	<form>
		<label for="query">검색</label>
		<input type="text" name="query" id="query" placeholder="검색하려는 영화제목을 입력하세요.">
	</form>
	<button id="btn-search">찾기</button>		
	
	
	<div th:if="${movie} != null">	
		<h2>영화 정보</h2>	
		<h3>제목: <span th:text="${movie.title}"></span></h3>
		<h3>링크: <span th:text="${movie.link}"></span></h3>
		<h3>배우: <span th:text="${movie.actor}"></span></h3>	
		<h3>줄거리: <span th:text="${movie.plot}"></span></h3>	
		<h3>이미지: <img th:src="${movie.image}" width="300" height="400"> </h3>	
	</div>
</body>
<script type="text/javascript" th:src="@{/js/movie.js}"></script>
</html>