<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link th:href="@{/css/css/all.css}" rel="stylesheet">
<link th:href="@{/css/stars.css}" rel="stylesheet">
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	rel="stylesheet">
<link
	href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css"
	rel="stylesheet">
<script>
	if(!!window.performance && window.performance.navigation.type == 2){
		window.location.reload();
		// !!는 변수를 불리언으로 형변환하는 방법
	}
</script>
</head>
<th:block th:replace="~{include/layout :: body(~{this :: main})}">
	<main class="main" th:fragment="main">
		<div class="container">
<!-- 			<span hidden="hidden" id="revNum" th:text="${rev.num}"></span> <span
				hidden="hidden" id="userNum" th:text="${num}"></span> <span
				hidden="hidden" id="sessionId" th:text="${session.id}"></span> <span
				hidden="hidden" id="currentPageNum" th:text="${currentPageNum}"></span> -->
			<input type="hidden" name="id" id="id" th:value="${review.id}"> 				
			<div class="form-group">
				아이디: <span th:text="${review.user.username}"></span>
			</div>
			<div class="form-group">
				영화: <span th:text="${review.movie.title}"></span>
			</div>
			<div class="form-group">
				제목: <span th:text="${review.title}"></span>
			</div>
			<div class="form-group">
				평점:
				<div class="stars-outer">
					<div class="stars-inner"></div>
				</div>
				(<span class="number-rating"></span>)
			</div>
			<div class="form-group">
				내용:
				<div th:utext="${review.content}"></div>
			</div>
			<button class="btn btn-secondary" onclick="history.back()">돌아가기</button>
 			<span th:if="${#authentication.name == review.user.username} or ${#authentication.name == 'admin'}">
				<a th:href="@{/review/update/{id}(id=${review.id})}" class="btn btn-warning">리뷰수정</a>
				<button type="button" id="btn--delete--review" class="btn btn-danger">리뷰삭제</button>
			</span> 
			
			<span th:unless="${#authentication.name == review.user.username} or ${#authentication.name == 'admin'}">
				<button id="btn-like-rev" class="btn btn-success">추천하기</button>
			</span>
		</div>
		<script th:inline="javascript">
			  	document.addEventListener('DOMContentLoaded', getRating);		
			  
			  	const maxRating = 5;
			  	function getRating() {
			  		const rating = [[${review.rating}]]; 
				  	const starPercentage = (rating / maxRating) * 100;
			  	  	const starPercentageRounded = `${Math.round(starPercentage / 10) * 10}%`;
			  	  	
			  	  	document.querySelector('.stars-inner').style.width = starPercentageRounded;
			  	  	document.querySelector('.number-rating').innerHTML = rating;
			  	}
			</script>
	</main>
</html>