<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<link th:href="@{/css/css/all.css}" rel="stylesheet">
<link th:href="@{/css/stars.css}" rel="stylesheet">
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	rel="stylesheet">
<link
	href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css"
	rel="stylesheet">
<script>
/* 	if(!!window.performance && window.performance.navigation.type == 2){
		window.location.reload();
		// !!는 변수를 불리언으로 형변환하는 방법
	} */
</script>
</head>
<th:block th:replace="~{include/layout :: body(~{this :: main})}">
	<main class="main" th:fragment="main">
		<div class="container">
			<input type="hidden" name="id" id="id" th:value="${review.id}"> 				
			<div class="form-group">
				아이디: <span th:text="${review.user.username}"></span>
			</div>
			<div class="form-group">
				영화: <span th:text="${review.movie.title}"></span>
			</div>
			<div class="form-group">
				제목: <span th:text="${review.title}"></span>
			</div>
			<div class="form-group">
				평점:
				<div class="stars-outer">
					<div class="stars-inner"></div>
				</div>
				(<span class="number-rating"></span>)
			</div>
			<div class="form-group">
				내용: <div th:utext="${review.content}"></div>
			</div>
			<button class="btn btn-secondary" onclick="history.back()">돌아가기</button>
 			<span th:if="${#authentication.name == review.user.username} or ${#authentication.name == 'admin'}">
				<a th:href="@{/reviews/{id}/update(id=${review.id})}" class="btn btn-warning">리뷰수정</a>
				<button type="button" id="btn--review--delete" class="btn btn-danger">리뷰삭제</button>
			</span> 
			
			<span th:unless="${#authentication.name == review.user.username} or ${#authentication.name == 'admin'}">
				<button id="btn-like-rev" class="btn btn-success">추천하기</button>
			</span>
			<hr />
			
			<div class="card">
				<div class="card-header bi bi-chat-dots" >댓글 <span th:text="${review.comments.size}"></span>개 </div>
				<ul class="list-group-flush">
					<th:block th:each="comment : ${review.comments}">
						<li class="list-group-item justify-content-between">
 							<span>
								<span class="font-italic" style="font-size: small" th:text="${comment.user.username}"></span>
								<span style="font-size: xx-small" th:text="${comment.updateDate}"></span>
							</span>
							<span th:if="${#authentication.name == comment.user.username} or ${#authentication.name == 'admin'}">
								<button type="button" data-toggle="collapse" th:attr="data-target='.comment--collapse--'+${comment.id}" class="badge bi bi-pencil-square">수정</button>
								<button type="button" class="badge bi bi-x-square" th:data-id="${comment.id}" th:data-review-id="${comment.review.id}" th:onclick="comment.delete(this.getAttribute('data-id'), this.getAttribute('data-review-id'))">삭제</button>							
 							</span>
 							<div th:class="'collapse show comment--collapse--'+${comment.id}">
								<span th:text="${comment.content}"></span>
							</div>					 
							<form th:class="'collapse comment--collapse--'+${comment.id}">
								<textarea name="comment--content" id="comment--content" th:class="'form-control comment--content'+${comment.id}" rows="1" th:utext="${comment.content}"></textarea>
 								<button type="button" 
 									th:data-id="${comment.id}" 
 									th:data-review-id="${comment.review.id}" 
 									th:onclick="comment.update(this.getAttribute('data-id'), this.getAttribute('data-review-id'))" class="btn btn-outline-primary bi bi-pencil-square">
 									수정하기
 								</button>
							</form>
						</li>				
					</th:block>
				</ul>
			</div>
			
			<br />	
								
			<div class="card" sec:authorize-expr="isAuthenticated()">
				<div class="card-header bi bi-chat-right-dots">댓글 작성하기</div>
				<form role="comment--form" th:action="@{/api/reviews/{id}/comments(id=${review.id})}" method="post" modelAttribute="commentDto">
					<input type="hidden" name="review--id" id="review--id" th:value="${review.id}"> 					
					<div class="card-body">
						<textarea name="content" id="content" class="form-control" rows="1"></textarea>
					</div>
					<div class="card-footer">
						<button type="button" id="btn--comment--create" class="btn btn-outline-primary bi bi-pencil-square">등록</button>
					</div>
				</form>
			</div>
		</div>			
		
		<script th:inline="javascript">
			  	document.addEventListener('DOMContentLoaded', getRating);		
			  
			  	const maxRating = 5;
			  	function getRating() {
			  		const rating = [[${review.rating}]]; 
				  	const starPercentage = (rating / maxRating) * 100;
			  	  	const starPercentageRounded = `${Math.round(starPercentage / 10) * 10}%`;
			  	  	
			  	  	document.querySelector('.stars-inner').style.width = starPercentageRounded;
			  	  	document.querySelector('.number-rating').innerHTML = rating;
			  	}
			</script>
	</main>
</html>