<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
	<th:block th:replace="~{include/layout :: body(~{this :: main})}">
		<main class="main" th:fragment="main">
			<div class="container">
				<!-- <th:block th:each="rev : ${revs}">
					<div class="card m-2">
						<div class="card-body">
							<h4 class="card-title" th:text="${rev.movie}"></h4>
							<h4 class="card-title" th:text="${rev.title}"></h4>
							<h4 class="card-title" th:text="${rev.userNum}"></h4>
							<a th:href="@{/rev/read/{num}(num=${rev.num}, currentPageNum=${page.cri.currentPageNum})}" 
								class="btn btn-primary">리뷰읽기</a>
						</div>
					</div>
				</th:block>
				<ul class="pagination d-flex justify-content-center">
					<li class="page-item" th:if="${page.pre} == true"><a 
						th:href="@{/?currentPageNum={currentPageNum} (currentPageNum=${page.beginNumOfPage-1 })}"
						class="page-link" aria-label="Previous"> <span
							aria-hidden="true"> <span class="lnr lnr-chevron-left">이전</span>
						</span>
					</a>
					</li>
					<th:block th:with="start=${page.beginNumOfPage}, end=${page.endNumOfPage}">
						<li class="page-item"
							th:with="start=${page.beginNumOfPage}, end=${page.endNumOfPage}"
							th:each="pageButton : ${#numbers.sequence(start,end)}"><a 
							class="page-link"
							th:href="@{/?currentPageNum={currentPageNum} (currentPageNum=${pageButton})}" th:text=${pageButton}></a>
						</li>
					</th:block>
					<li class="page-item" th:if="${page.nxt} == true"><a
						th:href="@{/?currentPageNum={currentPageNum} (currentPageNum=${page.endNumOfPage+1 })}" class="page-link"
						aria-label="Next"> <span aria-hidden="true"> <span
								class="lnr lnr-chevron-right">다음</span>
						</span>
					</a></li>
				</ul> -->
			</div>
		</main>
</html>