<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" th:href="@{/css/css/all.css}">
<link rel="stylesheet" th:href="@{/css/stars.css}">
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	rel="stylesheet">
</head>
<th:block th:replace="~{include/layout :: body(~{this :: main})}">
	<main class="main" th:fragment="main">
		<div class="container">
			<form class="form-inline p-2 bd-highlight">
				<label for="query"></label> 
				<input type="text" name="query" class="form-control" id="query" placeholder="영화 검색">
				<button type="button" id="btn--movie--search" class="btn btn-light">🔍</button>
			</form>			
			<th:block th:each="movie : ${movies}">
				<div class="card m-2">
					<div class="card-body">
						<div class="form-group" th:if="${movie.image != ''}">
							<img th:src="${movie.image}" width="300" height="400">
						</div>
						<div class="form-group" th:unless="${movie.image != ''}">
							<img th:src="@{/img/none.png}" width="300" height="400">
						</div>
						<div class="form-group">
							제목: <span th:text="${movie.title}"></span>
						</div>
						<div class="form-group">
							배우: <span th:text="${movie.actor}"></span>
						</div>
						<div class="form-group">
							줄거리: <span th:text="${movie.plot}"></span>
						</div>
						<div class="form-group">
							<a th:href="@{/reviews/movies/id/{id}(id=${movie.id})}"
								class="btn btn-info">리뷰읽기</a>						
							<a th:href="@{/movies/{id}/reviews/(id=${movie.id})}"
								class="btn btn-primary">리뷰쓰기</a>
						</div>
					</div>
				</div>
			</th:block>

			<nav style="text-align: center;">
				<ul th:if="${!movies.empty}"
					class="pagination d-flex justify-content-center"
					th:with="start=${T(Math).floor(movies.number / 10) * 10 + 1},
			                    last=(${start + 9 < movies.totalPages ? start + 9 : movies.totalPages})">
					<li><a th:href="@{/(page=1)}" class="page-link"
						aria-label="First"> <span aria-hidden="true">처음</span>
					</a></li>
					<li th:class="${movies.first} ? 'disabled'"><a
						th:href="${movies.first} ? '#' :@{/(page=${movies.number})}"
						class="page-link" aria-label="Previous"> <span
							aria-hidden="true">&lt;</span>
					</a></li>
					<li th:each="page: ${#numbers.sequence(start, last)}"
						th:class="${page == movies.number + 1} ? 'active'"><a
						th:text="${page}" th:href="@{/(page=${page})}" class="page-link"></a>
					</li>
					<li th:class="${movies.last} ? 'disabled'"><a
						th:href="${movies.last} ? '#' : @{/(page=${movies.number + 2})}"
						class="page-link" aria-label="Next"> <span aria-hidden="true">&gt;</span>
					</a></li>
					<li><a th:href="@{/(page=${movies.totalPages})}"
						class="page-link" aria-label="Last"> <span aria-hidden="true">끝</span>
					</a></li>
				</ul>
			</nav>
		</div>
		<div th:if="${movies.empty}" class="container">
			<div class="alert alert-danger">
				<strong>영화가 존재하지 않습니다. 영화를 검색하세요!</strong>
			</div>
		</div>

		<script th:inline="javascript">
			/*document.addEventListener('DOMContentLoaded', getRating);		
			
			const maxRating = 5;
			function getRating() {
				const rating = document.getElementById("rating").value;
				
				console.log(rating);
				//movies.forEach(function(movie){
			  	const starPercentage = (rating / maxRating) * 100;
				  	const starPercentageRounded = `${Math.round(starPercentage / 10) * 10}%`;		
				  	console.log(starPercentageRounded);
				  	document.querySelector(".stars-inner").style.width = starPercentageRounded;
				  	document.querySelector(".number-rating").innerHTML = rating;
				//});			  		
			}*/
		</script>
	</main>
</html>